<%= page(:'search-page') do %>
  <div data-role="header">
    <h1>Sequencescape - Illumina-A Pipeline Inbox</h1>
    <div data-role="navbar">
      <ul>
        <li><a href="<%= search_path %>" class="ui-btn-active" >Search</a></li>
        <li><a href="<%= all_stock_plates_path %>" >New Stock Plates</a></li>
        <li><a href="<%= ongoing_plates_path %>" >All Ongoing Plates</a></li>
      </ul>
    </div>
  </div>

  <%= content do %>
    <%= flash_messages %>
    <div class="instructions ui-body">
      <h2>Now you only need one link...</h2>
      <p>Both ends of the ISC pipeline have now been integrated into one application, and this page will no longer be maintained. Any future ISC work should be done through the shared application. This page will continue to run to support viewing old plates. If you end up using it as a fall-back, because the shared app doesn't work, then please let me know so that I can fix the shared app.
      <a href="<%= shared_app %>"<h3>Go to the shared app...</h3></a>
    </div>
    <h1>Search for plate by barcode</h1>
    <%= section do %>
      <%= form_tag perform_search_path, :class => 'plate-search-form', :method => 'post' do %>
            <div data-role="fieldcontainer">
              <%= label_tag :card_id, 'User Swipecard:' %>
              <%= text_field_tag :card_id, params[:card_id], :class => 'card-id' %>
            </div>
            <%= hidden_field_tag :'show-my-plates', true, :class => 'show-my-plates' %>

            <%= submit_tag 'Show My Plates',
              :'data-theme'   => 'b',
              :class          => 'submit show-my-plates-button',
              :disabled       => 'disabled',
              :'data-inline'  => 'true',
              :'data-icon'    => 'search',
              :'data-iconpos' => 'right',
              :'data-mini'    => 'true'
            %>

            <div data-role="fieldcontainer">
              <%= label_tag :plate_barcode, 'Plate Barcode:' %>
              <%= text_field_tag :plate_barcode, params[:plate_barcode], :class => 'plate-barcode' %>
            </div>

        </div>

      <% end %>
    <% end %>

  <% end %>
<% end %>

